<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GNForm3CConnectionString" connectionString="data source=KISHAN\SQLEXPRESS;initial catalog=GNForm3C; Integrated Security =True" />
    <!--<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                           Extended Properties='Excel 8.0;HDR={1}'"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>

	  <compilation debug="true" targetFramework="4.8">
		  <assemblies>
			  <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			  <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			  <!-- add two assemble for report -->
			  <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			  <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		  </assemblies>
		  <buildProviders>
			  <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		  </buildProviders>
	  </compilation>
	  
    <pages buffer="true" theme="Admin" controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ew" assembly="eWorld.UI, Assembly=2.0.0.2201" namespace="eWorld.UI" />
        <add src="~/UserControl/ShowInfo.ascx" tagPrefix="ucMessage" tagName="ShowMessage" />
        <add src="~/UserControl/ucHelp.ascx" tagPrefix="ucHelp" tagName="ShowHelp" />
        <add src="~/UserControl/ucFieldHelp.ascx" tagPrefix="ucFieldHelp" tagName="ShowFieldHelp" />
        <add src="~/UserControl/ucPatient.ascx" tagPrefix="ucPatient" tagName="ShowPatient" />
      </controls>
    </pages>
  </system.web>
	
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>