<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
	  <add name="GNForm3CConnectionString" connectionString="data source=KISHAN\SQLEXPRESS;initial catalog=GNForm3C; Integrated Security =True" />
    <!--<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                           Extended Properties='Excel 8.0;HDR={1}'"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages buffer="true" theme="Admin" controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ew" assembly="eWorld.UI, Assembly=2.0.0.2201" namespace="eWorld.UI"/>
        <add src="~/UserControl/ShowInfo.ascx" tagPrefix="ucMessage" tagName="ShowMessage"/>
        <add src="~/UserControl/ucHelp.ascx" tagPrefix="ucHelp" tagName="ShowHelp"/>
        <add src="~/UserControl/ucFieldHelp.ascx" tagPrefix="ucFieldHelp" tagName="ShowFieldHelp"/>
      </controls>
    </pages>
  </system.web>
</configuration>